html {
  font-family: system-ui;
}

header {
  background-color: black;
}

h1 {
  font-size: 16pt;
  padding: 10px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  padding: 10px;
}

p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.login {
  position: absolute;
  top: 5px;
  right: 8px;
  text-align: center;
  padding: 5px;
  float: right;
}

nav {
  background-color: blue;
  text-align: center;
  color: white;
}

a {
  color: white;
}

ul {
  font-size: 12pt;
  padding: 15px;
}

main {
  position: absolute;
  left: 0px;
  padding: 20px;
  width: 75vw;
  margin-bottom: 50px;
}

.subject {
  max-width: 72vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  position: absolute;
  right: 0px;
  padding: 1vw;
}

.sidebar_element {
  width: 15vw;
  height: auto;
  padding: 5px;
  margin-bottom: 50px;
}
